.image{
    height: 20rem;
}

.description{
    margin-inline: 5%;
}

.description h6{
    text-transform: capitalize;
    font-size: small;
}

.oldPrice{
    text-decoration: line-through;
}

.btnRed{
    background-color: #9E0059;
    border-color: #CCAD8F;
    color: #CCAD8F;
}

.btnRed:hover{
    background-color: #CCAD8F;
    border-color: #9E0059;
    color: #9E0059;
}

.sizesGroup button.btn-dark{
    background-color: #9E0059!important;
}

.fontRoboto, .description{
    font-family: 'Roboto Condensed', sans-serif;
}